<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <title>Games[i]</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

</head>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu ">
        <div class="navbar-start">
            <div class="buttons">
            <a id="home" class="button is-primary">
                Home
            </a>
            <a id="collection" class="button is-primary">
               Collection
            </a>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div id="loginEmail">Logged in as {{email}}</div>
                
                <div class="buttons">
                    <a id="login" class="button is-primary">
                        Log in
                    </a>
                    <a id="logout" class="button is-primary">
                        Log out
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>


<body>
    {{{ body }}}




    <script src="/js/style.js"></script>
</body>

</html>