<h1 class="is-size-2">Welcome to Your Collection!</h1>
<br>
<br>
<div class="columns is-desktop ">
    <div class="column is-one-third-desktop">
        <div class="box" id="collectionColumn1">
            <article class="panel is-primary">
                <p class="panel-heading">
                    Browse Your Collection
                </p>
                <div class="panel-block">
                    <p>
                        Filter By:
                    </p>
                </div>
                <div class="field">
                    <label class="label">Playtime(in minutes)</label>
                    <div class="control">
                        <input id="playTime" class="input" type="text" placeholder="Playtime">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Number of Players</label>
                    <div class="control">
                        <input id="numPlay" class="input" type="text" placeholder="Number of Players">
                    </div>
                </div>
                <div class="control">
                    <label class="label">Designer</label>
                    <div class="select">
                        <select id="designerList">
                            <option>Select dropdown</option>
                            <option>With options</option>
                        </select>
                    </div>
                </div>
            </article>
        </div>
    </div>



  {{!-- <div class="column">
    <div class="box" id="collectionColumn2">
      <table id="table_results" class="new table content-table">
        <tr>
          <th>Name</th>
          <th>minPlayers</th>
          <th>maxPlayers</th>
          <th>Playtime</th>
          <th>Year Published</th>
          <th>Publisher</th>
          <th>Rec Age</th>
          <th>msrp</th>
          <th>Designer</th>
          <th>delete</th>
        </tr>
      </table> --}}
    <div class="column">
        {{!-- <input id="player-slider" class="slider has-output-tooltip is-fullwidth" step="1" min="0" max="100"
            value="50" type="range">
        <output id="player-output">50</output> --}}
        <div class="box" id="collectionColumn2">
            <table id="table_head" class="new table content-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>minPlayers</th>
                        <th>maxPlayers</th>
                        <th>Playtime</th>
                        <th>Year Published</th>
                        <th>Publisher</th>
                        <th>Rec Age</th>
                        <th>msrp</th>
                        <th>Designer</th>
                        <th>delete</th>
                    </tr>
                </thead>
                <tbody id="table_results">

                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>

<body>
    <script src="/js/collection.js"></script>
</body>