<body>
    {{!-- <h1>Game Name</h1> --}}

    <div class="columns">

        <div class="column is-one-third">
            <div class="box">
                <p>image</p>
            </div>
        </div>

        <div class="column">
            <div class="box">
                <p>game info</p>
            </div>
        </div>
    </div>
    <script src="/js/game.js"></script>
</body>