<body>


<div class="columns">

    <div class="column is-one-half">
        <div class="box current-pic">
        </div>
        <div class="buttons-pic"></div>
    </div>
    <div class="column">
        <div class="box">
            <table class="new-table content-table"></table>
            <div class="description"></div>
           
        </div>
    </div>
    
</div>
{{!-- Modal  --}}
  <div id="modal"></div>
  <div id="modal-act" class="modal">
  <div class="modal "></div>
  <div class="modal-content ">
   <div id="box"  class="box">
     <article class="media ">
       <div class="media-content">
         <div id="modal-result" class="content">
         </div>
       </div>
     </article>
   </div> 
  </div>
</div>
<script src="/js/game.js"></script>
</body>
