<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Board Game Collection</title>

</head>

<body>
  <div class="box has-text-centered">
    <h1 class="title is-1">games.[i]</h1>
    <h2 class="title is-2">Search for a game and add it to your collection.</h2>
    <br>
    <input class="input is-primary" type="text" style="width: 50%;" placeholder="search" id="game-name-input">
    <br>
    <input class="button" type="submit" id="search">

  </div>
  <div class="content">
    <table id="game-search-result">
    </table>

    <!-- Content -->
  </div>




</body>

</html>