<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Board Game Collection</title>

</head>

<body>
  <div class="columns">
    <div class="column is-3">
      <article class="panel is-link">
        <p class="panel-heading">
          Link
        </p>
        <div class="panel-block">
          <p class="control has-icons-left">
            <input class="input" type="text" placeholder="Text input" id="game-name-input">
            <span class="icon is-left">
              <i class="fas fa-search" aria-hidden="true"></i>
            </span>
          </p>
          <input class="button" type="submit" id="search">
        </div>
      </article>
    </div>

    <div class="column is-9">
      <div class="content">
        <table id="game-search-result">
        </table>

        <!-- Content -->
      </div>
    </div>

  </div>
  <script src="/js/index.js"></script>
</body>

</html>
