<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Board Game Collection</title>

</head>

<body>
  <div class="box has-text-centered">
    <img src ="https://www.dietsinreview.com/diet_column/wp-content/uploads/2014/01/dice-e1390265093443.jpg" height="10%" width ="10%">
    <h1 class="title is-1">games.[i]</h1>
    
    <br>
    <input class="input is-primary" type="text" style="width: 50%;" placeholder="search" id="game-name-input">
    <br>
    <input class="button is-primary" type="submit" id="search">
  </div>

  <div class="content has-text-centered" id="suggestions">
    <p><strong>Checkout these popular games!</strong></p>
    <br>
    <div class="columns">
      <div class="column">
        <div class="card cardcolor">
  <div class="card-content">
    <div class="content">
       <strong>Root</strong>
        <br>
        <br>
        <img src="https://d2k4q26owzy373.cloudfront.net/150x150/games/uploaded/1540147295104">
      </div>
    </div>
  </div>
</div>
        
      <div class="column">
        <div class="card cardcolor">
  <div class="card-content">
    <div class="content">
     <strong>Scythe</strong>
        <br>
        <br>
        <img src="https://d2k4q26owzy373.cloudfront.net/150x150/games/uploaded/1559254971843-513-lrmjs2L.jpg">
      </div>
    </div>
  </div>
</div>
        
      <div class="column">
        <div class="card cardcolor">
  <div class="card-content">
    <div class="content">
      <strong>Codenames</strong>
        <br>
        <br>
        <img src="https://d2k4q26owzy373.cloudfront.net/150x150/games/uploaded/1559254183526-51f6ysXCMmL.jpg">
      </div>
    </div>
  </div>
</div>
        
      <div class="column">
        <div class="card cardcolor">
  <div class="card-content">
    <div class="content">
     <strong>Gloomhaven</strong>
        <br>
        <br>
        <img src="https://d2k4q26owzy373.cloudfront.net/150x150/games/uploaded/1559254920151-51ulRXlJ7LL.jpg">
      </div>
    </div>
  </div>
</div>
        
      <div class="column">
        <div class="card cardcolor">
  <div class="card-content">
    <div class="content">
       <strong>Splendor</strong>
        <br>
        <br>
        <img src="https://d2k4q26owzy373.cloudfront.net/150x150/games/uploaded/1559254164722-51AHDwGznvL.jpg">
      </div>
    </div>
  </div>
    </div>
  </div>
</div>
       

  <div class="content">
    <table id="game-search-result">
    </table>
  </div>
<script src="/js/index.js"></script>
</body>
</html>
