<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Board Game Collection</title>

</head>

<body>
  <div class="box has-text-centered">
    <h1 class="title is-1">games.[i]</h1>
    <h2 class="title is-2">Search for a game and add it to your collection.</h2>
    <br>
    <input class="input is-primary" type="text" style="width: 50%;" placeholder="search" id="game-name-input">
    <br>
    <input class="button" type="submit" id="search">
  </div>

  <div class="content has-text-centered" id="suggestion">
    <p>Checkout these popular games!</p>
    <br>
    <div class="columns">
      <div class="column">
        <strong>Root</strong>
        <br>
        <br>
        <img src="https://d2k4q26owzy373.cloudfront.net/150x150/games/uploaded/1540147295104">
      </div>
      <div class="column">
        <strong>Scythe</strong>
        <br>
        <br>
        <img src="https://d2k4q26owzy373.cloudfront.net/150x150/games/uploaded/1559254971843-513-lrmjs2L.jpg">
      </div>
      <div class="column">
        <strong>Codenames</strong>
        <br>
        <br>
        <img src="https://d2k4q26owzy373.cloudfront.net/150x150/games/uploaded/1559254183526-51f6ysXCMmL.jpg">
      </div>
      <div class="column">
        <strong>Gloomhaven</strong>
        <br>
        <br>
        <img src="https://d2k4q26owzy373.cloudfront.net/150x150/games/uploaded/1559254920151-51ulRXlJ7LL.jpg">
      </div>
    </div>
  </div>

  <div class="content">
    <table id="game-search-result">
    </table>
  </div>

<body>