h1,
h2 {
  text-align: center;
}

#search {
  margin: 20px;
}

.hide {
  display: none;
}

.nextView:hover {
  cursor: pointer;
  position: relative;
  /* top: -25px;
  left: -35px; */
  width: 175px;
  height: auto;
  display: block;
  z-index: 999;
}
.save-btn {
  cursor: pointer;
}
#box {
  /* background-color: rgba(9, 241, 9, 0.308); */
  background-color: #48c78e;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: solid rgb(37, 172, 37);
  color: white;
}
.content-table {
  margin: 25px 0;
  min-width: 500px;
  border-bottom: 1px solid lightgrey;
}
.content-table tr th {
  background-color: #00d1b2;
  width: 100%;
  color: white;
  padding: 15px;
}
.td-title,
.td-body {
  border-bottom: 1px solid rgb(241, 239, 239);
  padding: 15px;
}
.content-table tr:nth-of-type(odd) {
  background-color: lightgrey;
}
.td-title {
  font-weight: bold;
}
.tr:last-of-type {
  border-bottom: 2px solid #00d1b2;
}
.buttons-pic {
  display: flex;
  justify-content: space-evenly;
  margin-left: 25px;
}
body {
  background-color: aqua;
}

.cardcolor {
  border-radius: 5px;
  box-shadow: black;
  border-color: grey;
  border-style: solid;
  border-width: 2px;
  height: 250px;
}
