h1,
h2 {
  text-align: center;
}

#search {
  margin: 20px;
}

.hide {
  display: none;
}

.nextView:hover {
  cursor: pointer;
  position: relative;
  /* top: -25px;
  left: -35px; */
  width: 175px;
  height: auto;
  display: block;
  z-index: 999;
}
.save-btn {
  cursor: pointer;
}
#box {
  /* background-color: rgba(9, 241, 9, 0.308); */
  background-color: #48c78e;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: solid rgb(37, 172, 37);
  color: white;
}
