h2 {
  text-align: center;
}

#search {
  margin: 20px;
}

.hide {
  display: none;
}

.nextView:hover {
  cursor: pointer;
  position: relative;
  /* top: -25px;
  left: -35px; */
  width: 175px;
  height: auto;
  display: block;
  z-index: 999;
}
.save-btn {
  cursor: pointer;
}
#box {
  text-align: center;
  justify-content: center;
  align-items: center;
  border: solid white;
  color: white;
}
#box-game {
  background-color: #48c78e;
}
#box-index {
  background-color: #ff7878;
  display: flex;
  text-align: center;
}
/* save confirmation on games  */
.modal-message {
  text-align: center;
}
/* err alert on index  */
.modal-alert {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.content-table {
  margin: 25px 0;
  width: 100%;
  border-bottom: 1px solid lightgrey;
}
.content-table tr th {
  background-color: #00d1b2;
  width: 100%;
  color: white;
  padding: 15px;
}
.td-title,
.td-body {
  border-bottom: 1px solid rgb(241, 239, 239);
  padding: 15px;
}
.content-table tr:nth-of-type(odd) {
  background-color: lightgrey;
}
.td-title {
  font-weight: bold;
}
.buttons-pic {
  display: flex;
  justify-content: space-evenly;
  margin-left: 25px;
}

html {
  background-color: aqua;
}

.cardcolor {
  border-radius: 5px;
  box-shadow: black;
  border-color: grey;
  border-style: solid;
  border-width: 2px;
  height: 250px;
}

.gamecolumns {
  margin: auto;
  width: 90%;
}

#collectionColumn2 {
  margin: auto;
  width: 90%;
}

#collectionColumn1 {
  margin: 0 auto;
  width: 90%;
}
